@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    font-size: 15px;
  }
}
@layer components {
  .iconStar { content: url('/images/icon-star.svg'); }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
}